#contenido{
	width: 80%;
	max-width: 1000px;
	margin: auto;
}
 
#contenido #grupos{
	width: 100%;
	float: left;
	margin-top: 4%;
	margin-bottom: 2%;
	text-align: justify;
}

.titulo{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-family: RobotoRegular;
    margin-bottom: 3%;
}

.titulo p{
    color: black;
}

#contenido #grupos #grupo{
	width: 21%;
	float: left;
	margin: 5px 2% 5px 2%;
}

#contenido #grupos #grupo #NombreGrupo{
	font-family: Dusha;
	font-size: 25px;
	text-shadow: -2px -2px 1px #000, 
				 2px 2px 1px #000, 
				 -2px 2px 1px #000, 
				 2px -2px 1px #000;
	transform:scaley(1.8);
	margin-bottom: 15px;
	text-align: center;
}

#contenido #grupos #grupo #bandera{
	width: 30%;
}

#contenido #grupos #grupo #bandera img{
	width: 70%;
	float: left;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 15px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#contenido #grupos #grupo #equipos{
	background-color: rgba(112, 111, 111, 0.8);
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
		-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
}

#contenido #grupos #grupo #equipos a{
	opacity: 0.5;
}

#contenido #grupos #grupo #equipos a:hover{
	opacity: 1;
}

#contenido #grupos #grupo #equipo{
	padding: 7px;
}

#contenido #grupos #grupo #equipo p{
	font-family: Dusha;
	font-size: 15px;
	transform:scaley(1.5);
	text-shadow: -2px -2px 1px #000, 
				 2px 2px 1px #000, 
				 -2px 2px 1px #000, 
				 2px -2px 1px #000;
}

#playoff{
	width: 100%;
	margin-top: 3%;
	margin-bottom: 5%;
	text-align: center;
	float: left;
}

#playoff #fase{
	margin-bottom: 1%;
	margin-left: 25%;
	padding: 4px;
	background-color: rgba(80, 79, 79, 0.8);
	border-radius: 3px;
	width: 50%;
	text-align: center;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
		-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,1);
}

#playoff #fase a{
	opacity: 0.5;
}

#playoff #fase a:hover{
	opacity: 1;
}

#playoff p{
	font-family: RobotoRegular;
	font-size: 20px;
	transform:scaley(1.5);
	text-shadow: -2px -2px 1px #000, 
				 2px 2px 1px #000, 
				 -2px 2px 1px #000, 
				 2px -2px 1px #000;
}

.disabled{
   pointer-events: none;
   cursor: default;
}


/*TABLET*/
@media screen and (max-width: 780px), only screen and (max-device-width: 780px){ 
	html { font-size: 70%; }
	
	body{
		background-image: url(../Images/fondotablet.jpg);
		background-attachment: fixed; 
	}
    
    #menuCelular{
        display: none;
    }

	#subheader #nombre{
		width: 60%;
	}

	#subheader #nombre img{
		width: 35%;
	}

	#subheader #logotipo{
		width: 30%;
		max-width: 450px;
	}
	
	#subheader #logotipo img{
		width: 20%;
	}

	#subheader #logotipo #rusia{
		width: 30%;
		margin-left: 25%;
	}
	
	.proximospartidos{
		display: none;
	}

	#menu{
		margin-top: 15%;
		margin-bottom: 5%;
	}

    .menu{
        width: 90%;
    }
    
	.menu ul li a.amenu{
		font-size: 200%;
		margin-top: 0;
	}

	.usuario p{
		display: none;
	}

	.usuario img{
		width: 5%;
		margin-top: -1%;
	}

	.menuespecial{
		font-size: 200%;
	}
	
	#contenido{
		width: 90%;
	}

	#contenido #grupos{
		margin: 0 auto;
	}

	#contenido #grupos #grupo{
		width: 45%;
		margin-bottom: 5%;
	}

	#contenido #grupos #grupo #NombreGrupo{
		font-size: 350%;
	}

	#contenido #grupos #grupo #bandera{
		margin-left: 20px;
	}

	#contenido #grupos #grupo #bandera img{
		width: 50%;
		margin-right: 40%;
		margin-left: 20px;
	}

	#contenido #grupos #grupo #equipo p{
		font-size: 270%;
	}

	#contenido #playoff{
		width: 93%;
		margin-left: 2%;
	}

	#playoff #fase{
		width: 100%;
		margin: 2% auto;
	}

	#playoff p{
		font-size: 200%;
	}

	footer nav ul #final li a{
		color: white;
		font-size: 200%;
	}
}


/*CELULAR*/
@media screen and (max-width: 460px), only screen and (max-device-width: 460px){
	html { font-size: 42.5%; }
	
	body{
		background-image: url(../Images/fondoweb.jpg);
		background-attachment: fixed; 
	}
    
	#subheader #nombre{
		width: 60%;
	}

	#subheader #nombre img{
		width: 35%;
	}

	#subheader #logotipo{
		width: 30%;
		max-width: 450px;
	}
	
	#subheader #logotipo img{
		width: 20%;
	}

	#subheader #logotipo #rusia{
		width: 30%;
		margin-left: 25%;
	}

	#contenido #grupos #grupo #NombreGrupo{
		font-size: 450%;
	}

	.proximospartidos{
		display: none;
	}
    
    .menu{
        width: 90%;
    }
    
    .menu ul li a.amenu{
        font-size: 400%;
        padding: 1% 2%;
    }
	
	#contenido{
		width: 90%;
	}

	#contenido #grupos{
		margin-top: 0;
	}

	#contenido #grupos #grupo{
		width: 45%;
		margin-bottom: 5%;
	}

	#contenido #grupos #grupo #bandera{
		margin-left: 20px;
	}

	#contenido #grupos #grupo #bandera img{
		width: 40%;
		margin-right: 40%;
		margin-left: 20px;
	}

	#contenido #grupos #grupo #equipo p{
		font-size: 400%;
	}

	/*#menu{
		margin-top: 15%;
		margin-bottom: 5%;
	}

	.menu ul li a.amenu{
		font-size: 350%;
		margin-top: 0;
	}

	.usuario p{
		display: none;
	}

	.usuario img{
		width: 5%;
		margin-top: -1%;
	}

	.menuespecial{
		font-size: 200%;
	}*/

	#contenido #playoff{
		width: 93%;
		margin-left: 2%;
	}

	#playoff #fase{
		width: 100%;
		margin: 2% auto;
	}

	#playoff p{
		font-size: 400%;
	}

	footer nav ul #final li a{
		color: white;
		font-size: 200%;
	}
}